body{
  background-color: white;
}
.loader{
  position: absolute;
  display: flex;
  padding: 100px;
  background-color: #eeeff0;
  background-image: url("black circle.png");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 20s linear infinite;
  filter: blur(10px) contrast(15);
}
@keyframes rotate {
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  } to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.particle{
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.particle:first-child,
.particle:last-child{
  width: 50px;
  height: 50px;
  animation-delay: .25s;
}
.particle:nth-child(3){
  animation: pulse 8s ease-in-out infinite;
}
@keyframes pulse{
  0% {transform: scale(5.4)}
  50% {transform: scale(5.9)}
  70% {transform: scale(5.3)}
  100% {transform: scale(5.5)}
}
.particle:nth-child(2),
.particle:nth-child(4){
  animation: pulse 5s ease-in-out infinite;
}
@keyframes pulse{
  0% {transform: scale(1)}
  50% {transform: scale(1.9)}
  70% {transform: scale(1.3)}
  100% {transform: scale(1)}
}
.leftSpin{
  animation: leftSpin 2.5s linear infinite;
}
@keyframes leftSpin{
  from{
    transform: rotate(0deg) translateX(50px);
  } to {
    transform: rotate(360deg) translateX(50px);
  }
}
.rightSpin{
  animation: leftSpin 3s linear infinite;
}
@keyframes rightSpin{
  from{
    transform: rotate(360deg) translateX(50px);
  } to {
    transform: rotate(0deg) translateX(50px);
  }
}
